{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="mainbackground-home">
<div class="about " id="about">
  
<h1 class="mb-5">SCOPE INDIA, your career partner!</h1>

<h3 class="mb-3" style="padding: 20px;">One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.</h3>

<p class="mb-1" style="padding: 20px;">Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, MERN, Software Testing Manual and Automation, Cloud Computing (AWS | Azure), Server Administration (MicroSoft MCSE | Linux RHCE), Networking (CCNA), DevOps, Mobile App Development in Flutter, and Digital Marketing. A Training with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students annually. We assure you, you won't regret it after training from SCOPE INDIA!</p>

<p style="padding-bottom: 50px;">This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.</p>

</div>

<section class="mt-5 mb-5">
<div id="1" class="founded ">

    <h3 class="" style="padding: 20px;">Founded in 2007</h3>
    <p class="" style="padding: 20px; padding-bottom: 30px;">With over two decades of experience creating extensive internet systems, Suffix E Solutions is a top provider of networking and software services. By concentrating on our clients' primary needs, we provide dependable and useful solutions that are suited to their specifications. From documentation and framework design to coding, testing, and continuing maintenance, we have experience with every stage of the development lifecycle. Our knowledgeable engineers, who have 18 years of experience in a variety of fields, offer detailed direction at every stage of the development process. Our vast knowledge base enables us to provide our clients with accurate and efficient solutions.</p>
    <img style="padding-bottom: 30px;" src="{% static 'img/founded-1.webp' %}" >
</div> 

<div class="container text-center mt-5">
  <div class="row">
    <div class="col" >
      
     <div id="2" class="founded">
      <h3 style="padding: 20px;">Evolution</h3>
      <p class=""  style="padding: 20px; padding-bottom: 30px;">SCOPE INDIA was launched in 2015 by Suffix E Solutions to address the growing demand for industry-relevant IT training under proficient working professionals. What began as a mission to bridge the gap between education and employment has grown into one of the most recognized names in tech education.</p>
  
     </div>     

    </div>
    <div class="col">
      <!-- Carousel Start -->
    <div id="carouselExampleSlidesOnly" class="carousel carouselAbout slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="{% static 'img/carousel-11.png' %}" class="d-block w-100 position-relative" alt="...">
       <h4></h4>
    </div>
    <div class="carousel-item ">
      <img src="{% static 'img/carousel-12.png' %}" class="d-block w-100 position-relative" alt="...">
       <h4></h4>
    </div>
    <div class="carousel-item ">
      <img src="{% static 'img/carousel-13.png' %}" class="d-block w-100 position-relative" alt="...">
      <h4></h4>
    </div>
    <div class="carousel-item ">
      <img src="{% static 'img/carousel-14.png' %}" class="d-block w-100 position-relative" alt="...">
      <h4></h4>
    </div>
  </div>
</div>
    <!-- Carousel End -->
    </div>
   
  </div>
</div>
</section> 

<section>
  
     <div id="3" class="founded">
      <h3 style="padding: 20px;">Growth</h3>
        <p  class=""  style="padding: 20px; padding-bottom: 50px;">SCOPE INDIA began its journey in Trivandrum in 2015 and has steadily grown into a multi-location training powerhouse. In 2019, we expanded to Kochi to support more aspiring professionals. In 2021, the Nagercoil branch was proudly launched, and in 2023, we launched our Technopark branch - bringing our high-quality training even closer to the heart of Kerala's IT hub. Each branch reflects our commitment to making world-class IT education accessible to more people.</p>
        <img style="max-width: 200px;padding-bottom: 50px;" src="{% static 'img/scopeindia-logo.webp' %}">
     </div>  
     
     <div id="4" class="founded">
      <h3 style="padding: 20px;">Present Day Impact</h3>
       <p   class=""  style="padding: 20px; padding-bottom: 50px;">SCOPE INDIA has helped 15,000+ students build successful careers in IT. From fresh graduates to working professionals, our alumni are now placed in reputed companies across India and abroad, thanks to our dedicated placement support and industry-driven training. The team adopts all contemporary technologies from time to time, including Data Science, Artificial Intelligence, Cloud Computing, DevOps, etc.</p>  
     </div>  
</section>
<div class="rating">
   <img src="{% static 'img/Rating.webp' %}">
  <h6>Google 4.9 * Rated Institute</h6>
</div>
</div>



{%endblock %}